/* ---- Optik: Über Mich Sektion ---- */

/* ---- Über Mich: Allgemein ---- */
.about {
    height: fit-content;
    width: 90%;

    background-color: var(--primary-color);
    border-bottom: .5px solid rgb(128, 128, 128, 0.25);

    padding: 15px 5%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
}
/* ---- Über Mich: Überschrift ---- */
.about h2 {
    grid-column: span 2;
    text-align: center;

    padding: 20px 0;

    font-size: 3.5rem;
    letter-spacing: 5px;

    box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.84);
}

/* ---- Über Mich: Bild ---- */
.about img {
    width: 22vw;
    height: 50vh;

    object-fit: cover;
    object-position: center;
}

.about-image {
    display: flex;
    justify-content: center;

    padding: 15px 0;
}


.about img {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.about-image img:hover {
    filter: opacity(.75);
}

/* ---- Über Mich: Text ---- */
.about-text {
    display: inline-table;

    font-size: 1.25rem;
}

.about-text h3 {
    font-size: 2rem;
}

/* ---- Responsive ---- */
@media (max-width: 1300px) {
    .about img {
        height: 40vh;
    }
} 

@media (max-width: 1100px) {
    .about img {
        height: 35vh;
        width: 25vw;
    }

    .about-text {
        padding: 15px 0;
    }
} 

@media (max-width: 900px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
    }

    .about h2 {
        grid-column: span 1;

        font-size: 3rem;
    }

    .about img{
        width: 50%;
        height: 40vh;
    }

    .about-text {
        font-size: 1.15rem;

        padding: 15px 0;
    }

    .about-text h3 {
        font-size: 1.75rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .about img{
        width: 50%;
        height: 30vh;

        object-position: center;
    }

    .about h2 {
        font-size: 2.5rem;
        letter-spacing: 3px;
    }
} 