/* Optik: Subpage - Portfolio */

/* Variablen */
:root {
    --pic-height: 50vh;
}

/* Portfolio: Allgemein */
.port {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .25rem;

    margin: 0 5%;

    padding: 35px 0;
  
    border-bottom: 1px solid grey;
}

.portrait {

    padding-top: -35px;
}

.portfolio {
    text-align: center;
}

.first {
    margin-top: calc(10vh + 35px);
}

/* Portfolio: Bilder */
main img {
    width: 100%;
    height: 50vh;

    object-fit: cover;
    object-position: center;
}

.quer {
    grid-column: span 2;
}

.hoch-2 {
    grid-row: span 2;
    grid-column: span 2;

    height: calc(var(--pic-height) * 2);
}

@media (max-width: 1500px) {
    .port {
        grid-template-columns: repeat(2, 1fr);
    }

    .hoch-2 {
        grid-column: span 2;
    }

    main img {
        height: 40vh;
    }
}

@media (max-width: 1000px) {
    .port {
        grid-template-columns: repeat(2, 1fr);
    }

    .hoch-2 {
        grid-column: span 2;
    }

    main img {
        height: 30vh;
    }
}