/* Optik: Subpage - Portfolio */

/* Portfolio: Allgemein */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Portfolio: Bilder */
main img {
    width: 100%;
    height: 60vh;

    object-fit: cover;
    object-position: center;
}
