/* Optik: Header - Home */

/* ---- Variablen ---- */
:root {
    --header-height: 10vh;
}

/* ---- Header: Allgemein ---- */
.header {
    position: absolute;
    top: 0;

    height: var(--header-height);
    width: 100%;

    background-color: var(--primary-color);
    box-shadow: 0px -12px 32px 12px #000000;

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
}

/* ---- Header: Überschrift ---- */
.header h1 {
    font-size: 3rem;
}

.header .surname {
    font-family: 'Caveat', cursive;
    font-size: 4.25rem;
    font-weight: bolder;

    color: var(--secondary-color);
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- Header: Navbar ---- */
.header ul {
    display: flex;
    justify-content: space-around;

    gap: 20px;

    font-size: 1.75rem;
}

.navbar a {
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--hover-color);
}

.nav-icon {
    display: none;
}

/* ---- Responsive ---- */
@media (max-width: 950px) {
    /* Nav: Icon */
    .nav-icon {
        display: block;
    }

    /* Navbar: Links */
    .navbar{
        position: absolute;
        top: var(--header-height);
        right: 0;

        height: fit-content;
        width: 100%;

        background-color: var(--primary-color);
        box-shadow: 0px 26px 22px -3px rgba(0,0,0,0.28);
    }

    .header ul {
        display: none;

        text-align: center;
    }

    .navbar li {
        padding: 15px;
        width: 100%;
    }

    .nav-link:hover li{
        background-color: rgb(169, 169, 169, 0.25);
    }
}

@media(max-width: 650px) {
    .header .headline {
        font-size: 2.5rem;
    }

    .header .surname {
        font-size: 3.75rem;
    }

    .header ul {
        font-size: 1.5rem;
    }
}

@media(max-width: 500px) {
    .header .headline {
        font-size: 2rem;
    }

    .header .surname {
        font-size: 3.25rem;
    }

    .header ul {
        font-size: 1.25rem;
    }
}
