/* Optik: Header - Home */

/* ---- Variablen ---- */
:root {
    --header-height: calc(1vh * 10);
}

/* ---- Header: Allgemein ---- */
.header {
    position: absolute;
    top: 0;

    height: var(--header-height);
    width: 100%;

    background-color: var(--primary-color);
    box-shadow: 0px -12px 32px 12px #000000;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ---- Header: Überschrift ---- */
/* Überschrift: Allgemein */
.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Überschrift: Gesamter Text */
.header h1 {
    font-size: 3rem;
}

 /* Überschrift. Nachname */
.header .surname {
    font-family: 'Caveat', cursive;
    font-size: 4.25rem;
    font-weight: bolder;

    color: var(--secondary-color);
}

/* ---- Header: Navbar ---- */
/* Navbar: Allgemein */
.header ul {
    display: flex;
    justify-content: space-around;

    gap: 20px;

    font-size: 1.75rem;
}

/* Navbar: Links */
.navbar a {
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--hover-color);
}

/* Navbar Icon, wenn Bildschirm schmaler */
.nav-icon {
    display: none;
}

/* ---- Responsive ---- */
@media (max-width: 950px) {

    /* Nav: Icon */
    .nav-icon {
        display: block;
    }

    /* Navbar: Links */
    .navbar {
        position: absolute;
        top: var(--header-height);
        right: 0;

        height: fit-content;
        width: 100%;

        background-color: var(--primary-color);
        box-shadow: 0px 26px 22px -3px rgba(0, 0, 0, 0.28);

        overflow: hidden;
    }

    .header ul {
        display: none;

        text-align: center;
    }

    .navbar li {
        padding: 15px 0;
        width: 100%;
    }
}

@media(max-width: 650px) {
    .header .headline {
        font-size: 2.5rem;
    }

    .header .surname {
        font-size: 3.75rem;
    }

    .header ul {
        font-size: 1.6rem;
    }
}

@media(max-width: 500px) {
    .header .headline {
        font-size: 2rem;
    }

    .header .surname {
        font-size: 3.25rem;
    }

    .header ul {
        font-size: 1.45rem;
    }
}